@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Helvetica.ttf') format('truetype');
    /* Add other formats as needed for cross-browser compatibility */
    /* src: url('./fonts/mycustomfont.woff') format('woff'), */
    /*      url('./fonts/mycustomfont.woff2') format('woff2'), */
    /*      url('./fonts/mycustomfont.eot'), */
    /*      url('./fonts/mycustomfont.svg') format('svg'); */
}

:root {
    font-family: Helvetica, system-ui, Avenir, Helvetica, Arial, sans-serif, Play;
    line-height: 1.5;
    font-weight: 400;
    max-width: 100vw;
    overflow-x: hidden;
    cursor: none;
    background-color: #f9f9f9;
    scroll-behavior: smooth;
}
*, html, body{
    scroll-behavior: smooth;
}
